
$contentColor: #656345;
$bodyColor: #456773;
body{
  background-color: $bodyColor;
  .appcontent{
    .appmenu{
      margin: 0 auto;
      position: relative;
    }
    .menu{
      background-color: blue !important;
    }
    .cytonn-green{
      margin: 0 auto;
      width: 100px;
    }
    background-color: yellow;
button{
  border-radius: 3*4;
  border-bottom: Blue;
  border-width: thick;
}
  }
appNav{
  background-color: blue;
  width: 100%;
  height: 20%;
  position: relative;

}

}
